---
layout: layouts/home.njk
numberOfLatestPostsToShow: 0
---

<div class="image-container">
  <img class="centerImage" src="{{ '/img/Royal_Pavillion_Brighton.jpg' | url }}" width="100%" />
  <div class="overlay">
    <div class="overlay-box">
      <h1 class="overlay-text">CLEAN AIR for BRIGHTON & HOVE</h1>
    </div>
    <div class="overlay-box">
      <h2 class="secondary-title">Campaigning for Clean Air</h2>
    </div>
  </div>
</div>

<br />

<div class="our-vision">
	<h1>A BREAK</h1>
	We're currently on a break at the moment with not planned return.  Feel free to email us though on cleanairbh@gmail.com
</div>

