---
layout: layouts/information.njk
---
		<nav>
			<h2 class="visually-hidden">Top level navigation menu</h2>
			<ul class="nav nav-secondrow">


			{% set currentItem = collections.all | getCurrentItem(page.url) %}
			{% set parentsData = collections.all | getParents(currentItem.key) %}
			{%- for entry in collections.all | eleventyNavigation("Maps") %}
							<li class="nav-item {% if (entry.url == page.url) or (parentsData | containsParent(entry.key)) %}nav-item-selected{% endif %}">
      					<div class="key-{{ entry.title }} nav-item2">
      						<a href="{{ entry.url }}"{% if (entry.url == page.url) or (parentsData | containsParent(entry.key)) %} aria-current="page"{% endif %}>{{ entry.title }}
      						</a>
      					</div>
      				</li>
			{%- endfor %}
			</ul>
		</nav>
	{{ content | safe }}
