---
layout: layouts/base.njk
---
		<nav class="nav-firstrow">
			<h2 class="visually-hidden">Top level navigation menu</h2>
			<ul class="nav">
				<li>
					<div class="homelink">
						<a href="/">
							<div class="homelink-cleanair">Clean Air</div>
							<div class="homelink-brighton"><span class="homelink-for">for</span> Brighton & Hove</div>
						</a>
					</div>
				</li>
				<li>
					<div class="social-links">
						<a href="mailto:{{ metadata.email }}"><i class="fa fa-envelope-open"></i></a>
						<a href="{{ metadata.twitterUrl }}" target="_blank"><i class='fab fa-twitter'></i></a>
						<a href="https://www.cleanairbh.com/feed/feed.xml" target="_blank" rel="noopener" aria-label="RSS"><i class="fa fa-rss-square"></i></a>
					</div>
				</li>
			</ul>
		</nav>

	{{ content | safe }}

